[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
[submodule "themes/hugo-mwe-theme"]
	path = themes/hugo-mwe-theme
	url = https://gitlab.com/kaushalmodi/hugo-mwe-theme
